* {
    margin: 0;
    padding: 0;
}

header {
    color: #ff6666;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

body {
    background-color: #0a0a0f;
    color: #ffffff;
    font-family: Raleway;
}

.all {
    margin: 2rem;
}

#main-input {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#error {
    color: #ff6666;
    margin-bottom: 1.5rem;
    visibility: hidden;
}

#inputs {
    margin-bottom: 1.5rem;
}

.inp {
    margin-bottom: .5rem;
}

table, th, td{
    padding: 1rem;
    border: 1px solid #ffffff;
    color: #727272;
    text-align: center;
  }

table th {
    color: #ffffff !important;
  }
  
  table {
    border-collapse: collapse;
  }

