html, body {
  margin: 0;
  padding: 0;
  background: #0a0a0f;
}

.enter-city-div{
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  width: 30rem;
  display: flex;
  flex-direction: column;

    p{
      font-family: "Raleway";
      font-size: 2.5rem;
      color: #ffffff;
    }

    #city-enter{
      background-color: transparent;
      border: none;
      outline: none;
      color: #727272;
      font-size: 2rem;
      text-align: center;
      border-bottom: 2px solid #727272;
    }

    .button-to-add{
      margin-top: 2.5rem;
      margin-left: 5rem;
      margin-right: 5rem;
      padding: 1.5rem;
      color: #ff6666;
      cursor: pointer;
      width: auto;
    }

    .button-to-add:hover{
      border: 2px solid #ff6666;
      border-radius: 1rem;
    }
}
