html, body{
    margin: 0;
    padding: 0;
    background-color: #0a0a0f;
    text-align: center;
    font-family: Raleway;
}

header{
    color: #727272;
    font-size: 2.5rem;
}

.playingButtons{
    background-color: transparent;
    color: #727272;
}

.playingButtons table{
    margin-left: auto;
    margin-right: auto;
}

td{
    padding: .75rem;
}

.music_button{
    padding: 1.5rem;
    font-size: 1.75rem;
    cursor: pointer;
}

.music_button:hover{
    color: #ff6666;
}

.tracks{
    display: flex;
    flex-direction: column;
}

.rec_button, .play_button{
    background-color: #ff6666;
    color: #0a0a0f;
    padding: .5rem;
    cursor: pointer;
    font-family: Raleway;
    font-weight: 900;
    border-radius: 1rem;
    margin: .5rem;
}

.play_button{
    background-color: #008000 !important;
}
